// Variables

// Functions

// MIXINS


// Styling

body {
    // background: #D3CCE3;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background-image: url(https://i.pinimg.com/736x/5a/26/f1/5a26f174a1a012ef75807fbf8b053d5d.jpg);
    background-image: url(https://i.pinimg.com/originals/cf/da/3c/cfda3c9030bc6706e4c3509582e19526.jpg);
    background-position: center;
}

.App {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-column-gap: 5%;
    grid-template-rows: 50px 100px 500px 100px 200px;
    width: 80%;
    height: 1000px;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, .3);   
    backdrop-filter: blur(5px);
}

.main{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
}

.profile {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    border-radius: 10px 0 0 10px;
}

.nav h1 {
    display: inline-block;
}

// FORM


// SINGLE ITEM CARD
.singleItem {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    font-size: .5em;
    background-color: rgba(255, 255, 255, .03);   
    backdrop-filter: blur(5px);
    margin-right: 10px;
    box-shadow: 5px 5px 5px gray;
}

.singleItem img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.singleItem a {
    text-decoration: none;
}

.singleItem h1 {
    display: inline;
}

.singleItem button {
    width: 40%;
}

// .singleItemInfo {

// }

.singleItemInfo h1 {
    display: inline-block;
    text-align: right;
}

// SECTION DIV
.section {
    height: 250px;
    width: 100%;
    padding: 20px;
    display: flex;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);   
    // backdrop-filter: blur(5px);
    overflow: auto;
    margin-top: 30px;
    box-shadow: 5px 5px 5px gray;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    display: none;
  }

// Profile Section
.profileSection img {
    width: 60%;
    border-radius: 300px;
}

.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.profile {
    background-color: #cc3143;
}

.horizontal {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}
